SERVER_PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/umqasho
DB_USERNAME=umqasho
DB_PASSWORD=Ntimane200

FIREBASE_ENABLED-true

GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/firebase-service-account.json

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

INVITATION_EXPIRATION_HOURS=48